<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Área</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="area.component.css">
</head>

<body>
 
    <div class="container">
        <h2>Crear Area</h2>
        <br>
        <div class="breadcrumb">
            <span>area ></span>
            <span>Nuevo</span>
        </div>

        <div class="header">
            <div class="header-left">
                <h2>AREA</h2>
                <h1>2</h1>
            </div>
            <div class="header-right">
                <div class="circle-icon">
                    <i class="fa-solid fa-people-group" style="font-size: 38px;"></i>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="form-section">
                <h3>Agregar Nuevo Área</h3>
                <form action="#">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
                    <button type="submit">Crear</button>
                </form>
            </div>

            <div class="roles-section">
                <h3>Rol</h3>
                <ul>
                    <li>
                        <img src="https://img.icons8.com/?size=100&id=FEDBnMFqHKMu&format=png&color=000000"
                            alt="rol icon">
                        <span>rol: Developer</span>
                    </li>
                    <br>
                    <li>
                        <img src="https://img.icons8.com/?size=100&id=FEDBnMFqHKMu&format=png&color=000000"
                            alt="rol icon">
                        <span>rol: design</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>