* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

.role-name{
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.select-all {
    background-color: #7b60c4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.group div {
    display: flex;
    flex-direction: column;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #7b60c4;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.create-btn {
    background-color: #8c96f1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #7e7e7e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
}
